*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* #region nav bar */

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(100, 100, 100);
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: rgb(86, 128, 79);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.75s;
}

nav ul li a:hover:after{
    width: 100%;
}

nav ul li a:hover{
    color: black;
}

/* submenu style */
nav ul .submenu{
    position: absolute;
    width: 300px;
    background-color: white;
    box-shadow: 0 20px 45px #00000020;
    margin-top: 0px;
    padding: 10px 0px;
    opacity: 0;
    z-index: -10;
    transition: all ease 0.5s;
}

nav ul .submenu li{
    padding: 10px 0px;
}

nav ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

/* #endregion */

/* #region hero page */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.hero-content h1{
    font-family: Papyrus, fantasy;
    font-size: 4vw;
    color: rgb(154, 135, 111);
    font-weight: 600;
    transition: 2s;
    padding: 70px 0px 30px;
    text-align: center;
}

.hero-content h1:hover{
    color: rgb(75, 103, 72);
}

/* not sure what this is
.hero-content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}*/

.hero-content p, .hero-content p i{
    font-family: "Playwrite GB S", cursive;
    font-size: 36px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.hero-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* #endregion */

/* #region about page */

.about-content {
    margin: 100px auto 200px;
    width: 750px;
}

.about-content h1{
    font-family: Papyrus, fantasy;
    font-size: 30px;
    color: rgb(154, 135, 111);
    font-weight: 600;
    transition: 2s;
    text-align: center;
}

.about-content h1:hover{
    color: rgb(75, 103, 72);
}

.about-content p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 30px;
}

.about-content #statement{
    padding: 0px;
}

.about-content hr{
    width: 75%;
    text-align: center;
    margin: auto;
}

.about-content .contact{
    padding-top: 10px;
}

.about-content .contact p{
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.about-content #signature {
    width: 400px;
    margin: auto;
    display: block;
}

/* #endregion */

/* #region gallery */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 20px 0 20px;
}

.container h3{
    font-size: 4em;
    font-family: Papyrus, fantasy;
    padding-bottom: 20px;
    font-weight: bolder;
}

.container p{
    font-size: 1.5em;
    border-bottom:  2px solid #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 0px 0px 20px;
    width: 80%;
    margin: auto;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

    //font-family: "Gill Sans", "Gill Sans MT";
.montserrat-font {

  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.container .box{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

#fifty{
    width: 49%;
}


.container .box .dream img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.fig {
    position: relative;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #000000;
  }

  .fig:hover .overlay {
    opacity: .6;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


@media only screen and (max-width: 769px){
    .container .box{
        flex-direction: column;
    }
    .container .box .dream{
        width: 100%;
    }
}

/* #endregion */