*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* nav bar */

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(100, 100, 100);
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: rgb(86, 128, 79);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.75s;
}

nav ul li a:hover:after{
    width: 100%;
}

nav ul li a:hover{
    color: black;
}

/* hero page */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}


.hero-content h1{
    font-family: Papyrus, fantasy;
    font-size: 4vw;
    color: rgb(154, 135, 111);
    font-weight: 600;
    transition: 2s;
    padding: 50px 0;
}

.hero-content h1:hover{
    color: rgb(75, 103, 72);
}

.hero-content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
