*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* #region nav bar */

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(100, 100, 100);
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: rgb(86, 128, 79);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.75s;
}

nav ul li a:hover:after{
    width: 100%;
}

nav ul li a:hover{
    color: black;
}

/* submenu style */
nav ul .submenu{
    position: absolute;
    width: 300px;
    background-color: white;
    box-shadow: 0 20px 45px #00000020;
    margin-top: 0px;
    padding: 10px 0px;
    opacity: 0;
    z-index: -10;
    transition: all ease 0.5s;
}

nav ul .submenu li{
    padding: 10px 0px;
}

nav ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

/* #endregion */

/* #region hero page */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}


/* .hero-content h1{
    font-family: Papyrus, fantasy;
    font-size: 4vw;
    color: rgb(116, 102, 85);
    font-weight: 600;
    transition: 2s;
    padding: 70px 0px 30px;
    text-align: center;
}
.hero-content h1:hover{
    color: rgb(75, 103, 72);
} */

.hero-content p{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.hero-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-content #banner{
    width: 100vw;
    margin-top: 63px;
    margin-bottom: 75px;
}

.hero-content #statement{
    border: solid 2px;
    padding: 40px;
}

.hero-content .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.hero-content .text-container {
    flex: 1;
    padding-right: 20px;
}

/* #endregion */

/* #region hero slideshow */

.hero-content .slideshow-container {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 200px;
}

.slideshow-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 700px; /* Set a fixed height */
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Options: cover, contain, fill */
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.prev {
    left: 0; /* Position at the left edge */
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0; /* Position at the right edge */
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

/* #endregion */

/* #region about page */

.about-content {
    margin: 100px auto 200px;
    width: 750px;
}

.about-content h1{
    font-family: Papyrus, fantasy;
    font-size: 30px;
    color: rgb(154, 135, 111);
    font-weight: 600;
    transition: 2s;
    text-align: center;
}

.about-content h1:hover{
    color: rgb(75, 103, 72);
}

.about-content p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 30px;
}

.about-content #statement{
    padding: 0px;
}

.about-content hr{
    width: 75%;
    text-align: center;
    margin: auto;
}

.about-content .contact{
    padding-top: 10px;
}

.about-content .contact p{
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.about-content #signature {
    width: 400px;
    margin: auto;
    display: block;
}

/* #endregion */

/* #region gallery */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 20px 0 20px;
}

.container h3{
    font-size: 4em;
    font-family: Papyrus, fantasy;
    font-weight: bolder;
}

.container p{
    font-size: 1.5em;
    border-bottom:  2px solid #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 0px 0px 20px;
    width: 80%;
    margin: auto;
}

.container .box{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

#dream_2x1{
    width: 49%;
}

#dream_1x1{
    width: 50%;
}


.container .box .dream img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.fig {
    position: relative;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #000000;
  }

  .fig:hover .overlay {
    opacity: .6;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


@media only screen and (max-width: 769px){
    .container .box{
        flex-direction: column;
    }
    .container .box .dream{
        width: 100%;
    }

    .container .box .subgallery{
        width: 100%;
    }
}

/* #endregion */

/* #region subgallery selector */

#subgallery_box{
    margin: 50px 100px 0px
}

#subgallery_box_4x1 .subgallery{
    display: flex;
    flex-direction: column;
    width: 23%;
}
#subgallery_box_4x1 .subgallery img{
    width: 100%;
}

#subgallery_box_3x1 .subgallery{
    display: flex;
    flex-direction: column;
    width: 31%;
}
#subgallery_box_3x1 .subgallery img{
    width: 100%;
}

#subgallery_box_3x1 h4, #subgallery_box_4x1 h4{
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

/* #endregion */

/* #region CV */

.cv-container {
    font-family: Georgia, serif;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    color: #222;
    background: #fdfdfd;
  }

  .cv-container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .cv-container h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    border-bottom: 2px solid #aaa;
    padding-bottom: 0.2rem;
  }

  .cv-container h3 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    font-weight: normal;
    color: #444;
  }

  .cv-container ul {
    list-style: none;
    padding-left: 0;
  }

  .cv-container li {
    margin-bottom: 0.5rem;
  }

  .cv-container .contact {
    margin-bottom: 1.5rem;
  }

  .cv-container a {
    color: #0645ad;
    text-decoration: none;
  }

  .cv-container a:hover {
    text-decoration: underline;
  }

  .cv-container h2 a:hover {
    text-decoration: underline;
    color: #0645ad;
  }

/* #endregion */
