*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* #region nav bar */

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: rgb(100, 100, 100);
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: rgb(86, 128, 79);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.75s;
}

nav ul li a:hover:after{
    width: 100%;
}

nav ul li a:hover{
    color: black;
}

/* submenu style */
nav ul .submenu{
    position: absolute;
    width: 300px;
    background-color: white;
    box-shadow: 0 20px 45px #00000020;
    margin-top: 0px;
    padding: 10px 0px;
    opacity: 0;
    z-index: -10;
    transition: all ease 0.5s;
}

nav ul .submenu li{
    padding: 10px 0px;
}

nav ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

/* #endregion */

/* #region hero page */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}


.hero-content h1{
    font-family: Papyrus, fantasy;
    font-size: 4vw;
    color: rgb(154, 135, 111);
    font-weight: 600;
    transition: 2s;
    padding: 70px 0px 50px;
    text-align: center;
}

.hero-content h1:hover{
    color: rgb(75, 103, 72);
}

/* not sure what this is
.hero-content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}*/

.hero-content p, .hero-content p i{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.hero-content .column {
    float: left;
    width: 33.33%;
}

.hero-content img {
    width: 500px;
    height: 500px;
}


/* #endregion */

/* #region about page */

.about-content {
    margin: 100px auto 200px;
    width: 40%;
}

.about-content h1{
    font-family: Papyrus, fantasy;
    font-size: 2vw;
    color: rgb(154, 135, 111);
    font-weight: 600;
    transition: 2s;
    text-align: center;
}

.about-content h1:hover{
    color: rgb(75, 103, 72);
}

.about-content p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    padding: 30px;
}

.about-content #statement{
    padding: 0px;;
}

.about-content hr{
    width: 75%;
    text-align: center;
    margin: auto;
}

.about-content .contact{
    padding-top: 100px;
}

.about-content .contact p{
    font-size: 0.8vw;
    padding: 5px;
    text-align: center;
}

/* #endregion */